
:root {
  --main-color: #146ebe;
  --main-color-ligther: #2d9afb;
  --main-color-gray : #9ca8ba;
  --main-menu-color-hover:#2d9afba6;
}

* {
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background: #efefefef;
}

.btn-primary {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn-primary:hover {
  background: var(--main-color-ligther);
  border: 1px solid var(--main-color-ligther);
}
.btn-outline-primary {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.btn-outline-primary:hover {
  background: var(--main-color-ligther);
  border: 1px solid var(--main-color-ligther);
}
.img-scal {
  height: -webkit-fill-available !important;
}

.container {
  max-width: 80%;
  margin: 0 auto !important;
}

/* login page */

.login {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 40px 20px;
  border: 1px solid #2b303626;
  border-radius: 5px;
  background: white;
}
/* login page */


/* signup page */
.content-body {
  min-height: 600px;
} 
.signup {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 40px 20px;
  border: 1px solid #2b303626;
  border-radius: 5px;
  background: white;
}
/* login page */

/* new post  */
.register_post {
  margin-top: 20px;
  padding: 40px 20px;
  border: 1px solid #2b303626;
  border-radius: 5px;
  background: white;
}

.register_post h6 {
  color: var(--bs-gray-700);
  font-weight: bold;
}
/* new post  */



/* friend list page */
.freind-list {
  background: white;
  /* min-height: 200px; */
  margin-top: 15px;
  padding: 1rem;
  border-radius: 10px;
  /* height: 90vh; */
}

.freind-list .title {
  font-weight: bold;
}
.freind-list .friend-list-box {
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  border-top: 5px solid var(--bs-gray-400);
  margin-top: 10px;
  padding: 1em;
  border-bottom: 5px solid var(--bs-gray-400);
}

.freind-list .friend-list-box .friends {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
}


.freind-list .friend-list-box .friends .friends-image img {
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.freind-list .friend-list-box .friends .friend-details {
  line-height: 15px;
  font-size: 14px;
}

.freind-list .friend-list-box .friends .friend-details p:nth-child(1){
  font-weight: bold;
  margin: 0;
}
.freind-list .friend-list-box .friends .friend-details p:nth-child(2){
  font-weight: normal;
  margin: 0;
  margin-top: 5px;
  color: var(--main-color-gray);
}
.freind-list .friend-list-box .friends .cals {
  align-items: center;
}
.freind-list .friend-list-box .friends .cals i {
  margin: 0 10px;
}

.freind-list .friend-list-box .friends .cals button.message-button i {
  color: var(--main-color);
}
.freind-list .friend-list-box .friends .cals button {
  background: transparent;
  border: none;
}
.freind-list .friend-list-box .friends .cals > button.green {
  color: var(--bs-success);
}

.freind-list .friend-list-box .friends .cals > button.red {
  color: var(--bs-danger);
}

.freind-list .friend-list-box .friends .cals > form:nth-child(1) button{
  color: var(--bs-success);
}

.freind-list .friend-list-box .friends .cals >  form:nth-child(2) button {
  color: var(--bs-danger);
}


.freind-list .videos {
  display: flex;
}

.freind-list .videos video {
  width: 50%;
}




/* friend list page */


.author {
  color: #FF5722;
  background: #2196f34d;
  border-radius: 5px;
  padding: 1px 7px;
  margin: 0px 3px;
}


.navbar {
  background-color: white !important;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.main-container {
  position: relative;
  top: 50px;
}
.sidebar {
  background: #ffffff;
  border: 1px solid #edeaea;
  margin: 15px 1rem;
  padding: 1rem;
  border-radius: 5px;
  position: fixed;
  height: 90vh;
}

.profile_image {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #dcdcdc;
  border-radius: 100%;
  margin: 5px auto;
  box-shadow: 0px 0px 0px 1px #efefef;
  overflow: hidden;
}
.profile_image img {
  width: 100px;
}

.sidebar > .profile_info {
  text-align: center;
}

.sidebar > .profile_info  span {
  font-size: 20px;
}
.sidebar > .profile_info  span {
  color: var(--main-color-ligther);
}


.sidebar .profile_menu ul {
  list-style: none;
  display: table-header-group;
  text-align: center;
}
.sidebar .profile_menu ul li {
  list-style: none;
  height: 40px;
  width: 200px;
  margin: 5px 0px;
  border-radius: 5px;
  transition: background 0.7s ease-in-out;
}

.sidebar .profile_menu .is-admin a i {
  color: #FFC107;
}
.sidebar .profile_menu ul li:hover {
  background-color: var(--main-menu-color-hover);
}

.sidebar .profile_menu ul li:hover  a {
  color: white;
}
.sidebar .profile_menu ul li a {
  color: var(--main-color-gray);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: start;
  height: 100%;
  line-height: 40px;
  padding: 0px 5px;
  transition: color 0.7s ease-in-out;
}



.sidebar .profile_menu ul li a i {
  font-style: normal;
  margin: 0px 5px;
}

.sidebar .profile_menu ul li a i:nth-child(2){
  color: var(--bs-black);
}

/* right sidebar */
.rsidebar {
  margin-top: 15px;
  position: fixed;
  width: 16vw;
}
.rsidebar .search {
  height: 40px;
  background: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
}
.rsidebar .search .icon {
  margin-right: 10px;
  color: var(--main-color);
}

.rsidebar .search input {
  position: relative;
  top: -5px;
  border: none;
  outline: none;
  background: white;
  border-bottom: 1px solid var(--main-color-ligther);
}

.rsidebar .topics {
  margin: 10px 0;
  background: #efefef;
  border-radius: 10px;
  padding: 1rem;
}

/* index twits */

.twit {
  border: 1px solid #e1dbdb;
  padding: 1em;
  margin: 15px 0 0 0;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}
.twit:hover {
  background-color: #eef0f2;
}
.twit .twit-owner {
  display: flex;
}
.twit .twit-owner .owner-username {
  line-height: 5px;
  margin: 0;
}
.twit .twit-owner .owner-username a {
  color: black;
}
.twit .twit-owner .owner-username p:nth-child(1){
  font-size: 13px;
}
.twit .twit-owner .owner-username p:nth-child(2){
  color: gray;
  line-height: 5px;
  font-size: 12px;
}
.twit .twit-owner .owner-username .material-icons {
  color: var(--main-color-ligther);
  font-size: 15px;
}
.twit .twit-owner .owner-image img {
  height: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

.twit .twit-header {
  margin: 15px 0px;
}
.twit .twit-header h5{
  font-weight: 600;
  text-decoration: underline;
}
.twit .twit-body img {
  position: relative;
  width: 100%;
  border-radius: 3%;
  max-height: 300px;
  object-fit: cover;
}


.twit .twit-footer .twit-date {
  color: gray;
  display: block;
  margin: 10px 0;
  font-size: 13px;
}

.twit .twit-footer .share_like {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: gray;
  border: 1px solid lightgray;
  border-left: 0;
  border-right: 0;
  padding: 5px 0;
}
.twit .twit-footer .share_like i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  color: gray;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.twit .twit-footer .share_like i {
  cursor: pointer;
}
.twit .twit-footer .share_like i:nth-child(1):hover{
  background-color: #146ebe38;
  color: var(--main-color-ligther);
}
.twit .twit-footer .share_like i:nth-child(2):hover{
  background-color: #20c99778;
  color: var(--bs-black);
}

.twit .twit-footer .share_like i:nth-child(3):hover{
  background-color: rgb(220 53 69 / 32%);
  color: var(--bs-black);
}

.twit .twit-footer .share_like i:nth-child(4):hover{
  background-color: rgb(255 193 7 / 33%);
  color: var(--bs-black);
}


/* friend proposal */
.friend_proposal {
  background-color: white;
  margin: 15px 0;
  border-radius: 10px;
  padding: 15px 0;
}
.friend_proposal .header {
  padding: 1rem;
  font-weight: bold;
}
.friend_proposal .proposal {
  display: flex;
}
.friend_proposal .person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  padding: 0 10px;
  box-sizing: border-box;
}
.friend_proposal .person:hover .person_content  {
  background: var(--bs-primary-bg-subtle);
} 
.friend_proposal .person .person_image {
  position: relative;
  top: 7px;
  z-index: 1;
  height: 30%;

}
.friend_proposal .person .person_image img {
  width: 70px;
  border: 5px solid var(--bs-white);
  border-radius: 100%;
}
.friend_proposal .person .person_content {
  background: var(--bs-gray-400);
  text-align: center;
  border-radius: 5px;
  min-height: 70%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: background 0.6s ease-in-out;
}
.friend_proposal .person .person_content .person_details {
  padding-top: 15px;
  font-size: 13px;
  text-transform: lowercase;
  margin-bottom: 5px;
}

.friend_proposal .person .person_content .connect button {
  font-size: 10pt;
  border-radius: 10px;
  margin-bottom: 6px;
  text-transform: lowercase;
  padding: 2px 12px;
  background: #2c9afb;
  border: none;
  color: white;
  transition: background 0.5s ease-in-out;
}

.friend_proposal .person .person_content .connect button:hover {
  background: #146ebe;
}

/* friend proposal */


/* index twits */

/* verify email */
.verify_email {
  background: white;
  margin-top: 15px;
  padding: 1em;
  border-radius: 10px;
}
/* verify email */

/* forgot_password */

.forgot_password {
  margin: 15px;
  background: white;
  border-radius: 10px;
  padding: 1em;
}
/* forgot_password */

/* verify_account */
.verify_account {
  margin: 15px;
  background: white;
  border-radius: 10px;
  padding: 1em;
} 
/* verify_account */


/* settings  */

.settings {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  margin-top: 15px;
}
.settings  h6 {
  font-weight: bold;
  margin: 10px 0;
}

.settings .profile {
  border: 1px solid var(--bs-gray-300);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.settings .profile .p_details {
  display: flex;
  align-items: center;
 
}
.settings .profile .p_details .user-name {
  margin-left: 15px;
}
.settings .profile .p_details .user-name p{
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: var(--bs-gray);
}
.settings .profile .p_details .p_image img {
  width: 50px;
  border-radius: 100%;
}

.profile .config button {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 10pt;
}

.profile .config button span,i {
  margin: 0 5px;
}

.profile button > i, .p_info button > i {
  color: var(--bs-code-color);
}

.profile .config {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.p_info {
  margin: 15px 0;
  border: 1px solid var(--bs-gray-300);
  border-radius: 10px;
  padding: 15px;
}
.p_info h6 {
  margin: 0;
  color: var(--bs-gray-600);
  font-size: 13px;
}

.p_info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.p_info .config button {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 2px 10px;
  font-size: 10pt;
}
.p_info .user_info .line {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.p_info .user_info .line label,b{
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.p_info .user_info .line div {
  min-width: 100px;
}

.p_info .user_info .line label {
  color: var(--bs-gray-600);

}

.p_info .user_info .line .profile_bio p {
  margin: 5px 0;
}

.p_info .user_info .line div.delete_acount button {
  border: none;
  background: var(--bs-form-invalid-border-color);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;

}

/* settings  */


/* messages */
.messages, .admin-page {
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  padding: 1rem;
}
.messages .message-dist {
  display: flex;
}
.messages .message-dist .message-dist-image {
  margin-right: 10px;
}
.messages .message-dist .message-dist-image img {
  height: 50px;
  border-radius: 100%;
}

.messages .message-dist .message-dist-username p {
  margin: 0;
}
.messages .message-dist .message-dist-username p:nth-child(2) {
  color: var(--main-color-gray);
  font-size: 12px;
} 
.messages .message-dist .message-dist-username p span:nth-child(2){
  color: var(--main-color-ligther);
  font-size: 15px;
}
.messages .message-box {
  min-height: 200px;
  border: 1px solid var(--main-color-gray);
  border-radius: 10px;
  margin: 10px 0px;
  max-height: 350px;
  overflow: scroll;
  padding: 10px 5px;
}

.messages .message-box p {
  width: fit-content;
  margin: 5px 10px;
  background: var(--main-color-ligther);
  color: white;
  padding: 4px 14px;
  font-size: 13px;
}
.messages .message-box div.me {
  display: flex;
  justify-content: end;
}
.messages .message-box div.target p {
  border-radius: 10px 0px;
}
.messages .message-box div.me p {
  border-radius: 0px 10px;
}


.messages .input-message input {
  border: 1px solid var(--bs-gray-500);
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  color: var(--bs-gray-600);
  min-width: 84%;
}

.messages .input-message button {
  border: none;
  background: var(--main-color);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
}
/* messages */



/* admin */

.admin-page {
  width: 150%;
}
.admin-page tbody {
  font-size: 12px;
}

.admin-page tbody tr {
  line-height: 50px;
}

.admin-page tbody tr img {
  width: 50px;
  border-radius: 100%;
}
/* admin */
